<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AMP News</title>
	<link rel="stylesheet" type="text/css" href="static/styles/app.css">
</head>
<body>
<div class="view">
  <header>
    <div>AMP News</div>
  </header>
  <div class="scroll">
    <section>
      <ul class="list">
        <% news.forEach(function(item) {%>
          <li>
            <a href="#"><%= item.webTitle %></a>
          </li>
        <% }); %>
      </ul>
    </section>
  </div>
</div>
</body>
</html>