<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AMP News</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/app.css">
</head>
<body>
<div class="view">
  <header>
    <div>AMP News</div>
  </header>
  <div class="scroll">
    <section>
      <div><%- news.webTitle %></div>
      <img class="headerImage" src="<%= news.headerImage %>" />
      <div class="content">
        <%- news.contentHTML %>
      </div>
    </section>
  </div>
</div>
</body>
</html>